/* -----GENERAL----- */
body {
    padding:0;
    font-family: 'DM Sans', sans-serif;
}



/* ----HEADER------ */

body > header {
    height:10vh;

}

body > header nav {
    position:absolute;
    width:100vw;
}

body > header > nav > img {
    position:absolute;
    left:4vw;
}

body > header nav ul {
    display:inline-block;
    list-style-type:none;
    position:absolute;
    left:55vw;
}

body > header nav > ul > li {
    display:inline-block;
    margin-right:2vw;

}

body > header nav > ul > li a {
    text-decoration:none;
    color:black;
    font-weight:bold;
}


/* -----MAIN ------ */

/* ------FIRST SECTION H1--------*/

.title {
    height:100vh;
    font-size:3em;
    text-align:left;

}

h1 {
    width:50%;
    position:absolute;
    left:30%;
    font-weight:500;
}

/* ----- SECOND SECTION RECENT ------- */

.recent {
    background-color:#F2F3E8;
    height:300vh;
}

/* ----- ARTICLE RECENT ------ */
.recent > article {
    width: 20vw;
    height:20vh;
}

.articleheaderimg {
    width:27vw;
    height:40vh;
}

article > header > ul > li {
    display:inline-block;
    type-of-list:none;
    margin-right:1vw;
    color:#6A6A6A;
}

/* -----FOOTER ----- */