/* -----GENERAL----- */
body {
    padding:0;
    font-family: 'DM Sans', sans-serif;
    margin:0;
}



/* ----HEADER------ */

body > header {
    height:10vh;

}

body > header nav {
    position:absolute;
    width:100vw;
}

body > header > nav > img {
    position:absolute;
    left:4vw;
}

body > header nav ul {
    display:inline-block;
    list-style-type:none;
    position:absolute;
    left:55vw;
}

body > header nav > ul > li {
    display:inline-block;
    margin-right:2vw;

}

body > header nav > ul > li a {
    text-decoration:none;
    color:black;
    font-weight:bold;
}


/* -----MAIN ------ */

main {
    padding:0;
    margin:0;
}

/* ------FIRST SECTION H1--------*/

.title {
    height:100vh;
    font-size:3em;
    text-align:left;

}

h1 {
    width:50%;
    position:absolute;
    left:30%;
    font-weight:500;
}

/* ----- SECOND SECTION RECENT ------- */

.recent {
    background-color:#F2F3E8;
    height:300vh;
    width:100%;

}

.recent > section:first-of-type > * {
    display:inline-block;
}

.recent > section:first-of-type > h2 {
    position:relative;
    font-weight:500;
    font-size:2em;
    left:5%;
}

.recent > section:first-of-type > a {
    position:relative;
    color:black;
    font-size:1.5em;
    left:75%;

}

/* ----- ARTICLE RECENT ------ */

.recent > article {
    width: 27vw;
    display:inline-block;
    background-color:white;
    margin: 0vh 3vw;
}

.articleheaderimg {
    width:27vw;
    height:40vh;
}

article > header > ul > li {
    display:inline-block;
    list-style-type:none;
    margin-right:1vw;
    color:#6A6A6A;
}

article > section {
    margin: 0 1vw;
    height:35vh;
}

article > section > h3 > a {
    text-decoration:none;
    font-size:1.3em;
    color:black;
}

article > section > p {
    color:#848484;
}

article > footer > * {
    display:inline-block;
}

article > footer {
    margin-left:1vw;
}

article > footer > p {
    margin-left:1vw;
}

.footerimg {
    border-radius:50px;
    width:5vw;
}


/* ---- FIRST ARTICLE ----- */


/* -----FOOTER ----- */