body {
    padding:0;
}

header {
    height: 10vh ;
    background-color:blue;
}

main {
    height:70vh;
    background-color:green;
}


footer {
    height:20vh;
    background-color:red;
}

div {
    background-color:yellow;
    position:absolute;
    height:20vh;
    width:15vw;
}